{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

{% comment %} {% if messages %}
    <p>{{ messages }}</p>
{% endif %} {% endcomment %}

<div class="card text-bg-success mt-5 ms-auto me-auto" style="max-width: 400px; height: 250px;">
    <div class="card-header" style="text-align: center;">You've Logged In!</div>
    <div style='margin-top: auto; margin-bottom: auto;'>
    <div class="card-body" style="text-align: center;">
      <h5 class="card-title">Hello {{user.username}}</h5>
      <p class="card-text">
        Congratulations on logging in. To logout click Logout in the top right of the screen.
      </p>
    </div>
    </div>
</div>

{% endblock content %}
    